<h1> All tags </h1>

<ul id="Tags">
	<% @tags.each do |tag| %>
	<l1> 
	<%= link_to tag.name, tag_path(tag) %>
	
<%= link_to "delete", tag_path(tag), method: :delete ,data: {confirm: "Are you really sure you want to delete the tag?"} %>
</l1>
	<% end %>
	</ul>