$primary_color: #AAA;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}
.sidebar {
  left: 0;
  position: fixed;
  height: 37px;
  top: 0px;
  width: 100%;
}
.right {
  right: 0px;
  position: fixed;
  width: 220px;
}
.right-li {
  float:right
}
#notice-wrapper{
  position: absolute;
    top: 0;
    width: 100%
}
.flash{
      background: rgba(197, 87, 77, 0.53);
}
.left{
      left: 0px;
    position: fixed;
    width: 220px;
    display: flex;
}
.right-tag{
  float: left;
    padding-right: 27px;

}
.left-list{
  float: right;
  padding-left: 28px
}
.new-article-link{
  padding-left: 46%;
}